<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link href="/assets/app.css" type="text/css" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' type='text/javascript'></script>
    <script src='/assets/javascript/frontend.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='nav'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </div>
    <h1>Built by Wickett bro's</h1>
  </body>
</html>