* {
  box-sizing: border-box;
}


body {
  font-family: Hevletica, Arial, sans-serif;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(48, 45, 45);
}

.nav ul {
  list-style: none;
  padding: 0;
} 

.nav ul li {
  display: inline-block;
  margin-right: 10px;
}

.movie {
  background-color: #dddddd;
  padding: 10px;
  margin-right: 20px;
  display:inline-block;
  width: calc(25% - 20px * 3 / 4);
  margin-bottom: 20px;
  vertical-align: top;
}

.movie h2 {
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  color: white;
  display: none;
}

.movie-link:hover h2 {
  display: block;
}
.movie .genre {
  display: block;
}

.movie-link:hover img {
  filter: grayscale(65%) brightness(20%);
}
.movie:nth-of-type(4n+4){
  margin-right: 0;
}

a, a:visited {
  color: white;
}

.movie img{
  width: 100%;
}

.page-title {
  text-align: center;
}

.image-frame{
  position: relative;
  height: 397px;
  overflow: hidden;
  background-color: black;
}